/* .verticaltext { 
	width: 100;
    transform: translate(0px, 110px)
    rotate(270deg);
    white-space: nowrap;

    } */

body {
    font-family: 'Quicksand', sans-serif !important;
}    

.profile-picture {
    width: 95%!important;
}

.profile {
    background-color: rgb(0, 125, 107);
}

.profile-arrow {
    background-color: rgba(31, 61, 36, 0.315);
    border-radius: 30px;
    width: 20;
    height: 17;
}


.social-git:hover {
    color: black;
}
.social-linked-in:hover {
    color:  #0e76a8;
}
.social-fb:hover {
    color: #4267B2;
}
.social-insta:hover {
    color: #833AB4;
}

.new-icon {
    background-color: rgb(230, 243, 241);
}

.new {
    background-color: rgb(0, 160, 110);
}


.about-me {
    background-color: rgb(239, 255, 253);
}

.about-me-category {
    margin-top: -150px;
}


.about-me-icon {
color: rgb(0, 125, 107);
}


.about-me-skills {
    border-radius: 30px;
}


.card-res:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.font1 {
    color: red;
    background-color: rgb(255, 237, 237);
}

.font2 {
    color: rgb(162, 202, 162);
    background-color: rgb(244, 249, 250);
}

.font3 {
    color: blue;
    background-color: rgb(240, 238, 250);
}




.say-hi {
    color: rgb(14, 147, 127);
    text-decoration: underline;
}
.say:hover {
    color: rgb(14, 147, 127);
    text-decoration: underline;
}

.Heading {
    color: rgb(122, 104, 240);
}

.language {
    background-color: rgb(247, 253, 254);
}